OCI_CLI_USER=
OCI_CLI_TENANCY=
OCI_CLI_FINGERPRINT=
OCI_CLI_REGION=
OCI_COMPARTMENT_ID=
OCI_SUBNET_ID=
IMAGE_ID=
AD_NAME=
DISCORD_WEBHOOK_URL=
OCI_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=2
OCI_MEMORY_GBS=12
OCI_BOOT_GBS=50
OCI_DISPLAY_NAME=oci-a1-max
SNIPER_INTERVAL_SEC=60
